.dockerignore
.env
.git
.gitignore
.vs
.vscode
.bin
node_modules
bin
obj
*Dockerfile*
*docker-compose*

*/.dockerignore
*/.env
*/.git
*/.gitignore
*/.vs
*/.vscode
*/node_modules
*/.bin
*/bin
*/obj
*/*Dockerfile*
*/*docker-compose*